body {
	color: #336699;
	background-color: #001133;
	font-family: "Times New Roman", Times, serif;
}
#titleLayer {
	border: 2px solid #336699;
	font-size: 36px;
	position: absolute;
	z-index:1;
	padding-left: 10px;
	width: 200px;
	height: 50px;
	left: 10px;
	top: 10px;
}
#navLayer {
	border: 2px solid #336699;
	position: absolute;
	z-index:1;
	padding-left: 10px;
	width: 200px;
	height: 600px;
	left: 10px;
	top: 70px;
	padding-top: 10px;
}
#contentLayer {
	border: 2px solid #336699;
	position: absolute;
	z-index:1;
	padding-left: 10px;
	width: 790px;
	height: auto;
	left: 230px;
	top: 70px;
	padding-top: 10px;
	padding-right: 10px;
}
#pageTitleLayer {
	border: 2px solid #336699;
	font-size: 36px;
	position: absolute;
	z-index:1;
	padding-left: 10px;
	width: 800px;
	height: 50px;
	left: 230px;
	top: 10px;
}
#contentLayer th {
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	text-decoration: none;
	text-align: left;
	text-indent: 20px;
	font-size: 24px;
	border: 2px solid #336699;
}
#contentLayer td {
	vertical-align: top;
	padding-left: 10px;
}
